@import "tailwindcss";

@view-transition: navigation(auto);

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --background: #121212;
  --foreground: #ededed;
}

@theme {
  --color-main-gold: #beaf87;
  --color-main-black: #121212;
  --color-medium-grey: #727273;
  --color-red-c21: #8d312e;
  --breakpoint-xsc: 608px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  touch-action: none;
}

a:active {
  filter: brightness(105%);
  transform: scale(1.02) translateX(1%);
}

::view-transition-group(root) {
  z-index: auto !important;
}
::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity;
  z-index: 1;
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
} */

@keyframes fade-up-and-away {
  0% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(-50%) scale(0.95);
  }
}

@keyframes fade-in-place {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in-from-bottom {
  0% {
    opacity: 0;
    transform: translateY(5%) scale(1.05);
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

@keyframes fade-out-forward {
  0% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  /* 50% {
    opacity: 0.7;
    scale: (1.05);
  } */
  100% {
    opacity: 0;
    transform: translateY(0%) scale(1.1);
  }
}
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(17%) scale(1);
  }
  50% {
    /* opacity: 0.2; */
  }
  100% {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
}

@keyframes slide-out-left {
  0% {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
  50% {
    /* opacity: 0.2; */
  }
  100% {
    opacity: 1;
    transform: translateX(-100%) scale(1);
  }
}

@keyframes fade-in-forward {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  /* 50% {
    opacity: 0.05;
    scale: (1.05);
  } */
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes just-fade-out {
  0% {
    opacity: 1;
  }
  /* 50% {
    opacity: 0.05;
  } */
  100% {
    opacity: 0;
  }
}

::view-transition-new(root) {
  z-index: 3;
  animation: fade-in-up 500ms 500ms cubic-bezier(0.1, 0.1, 0.1, 1) both;
}
::view-transition-old(root) {
  z-index: 2;
  animation: fade-out-forward 250ms cubic-bezier(0.1, 0.1, 0.1, 0.1) both;
}
